.list__wrapper{
    background-color: var(--color-white);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-sizing: border-box;
    padding: 1rem 1rem 90px;
    transform: translateY(-30px);
    width: 100%;
}

.list__title{
    font-size: 2rem;
    color: var(--color-brown);
    padding: .75rem;
    text-align: center;
}

.list__text{
    font-size: 1rem;
    color: var(--color-brown);
    margin-bottom: .75rem;
    text-align: center;
}

.list{
    margin: 1rem 0 0;
}

.item__name{
    cursor: pointer;
    font-size: 1.25rem;
}

.list__item{
    align-items: center;
    border-top: 1px solid var(--color-grey);
    border-bottom: 1px solid var(--color-grey);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    height: 36px;
    padding: 0 .5rem;
    width: 100%;
}

.item__name--line-through{
    text-decoration: line-through;
}

.item__delete{
    background-image: url(../images/delete_icon.svg);
    background-size: cover;
    border: none;
    cursor: pointer;
    height: 24px;
    width: 24px;
}

@media screen and (min-width: 768px){
    .list__wrapper{
        grid-area: list;
    }

    .list__wrapper{
        transform: translateY(0);
    }
}

